body 
{ background-color : #EEEEEE;
font-size : 16px;
}
h1 
{ color : red;
font-family : serif;
font-weight : bold;
line-height: 1.6;
}

h3
{ color : blue;
font-family : serif;
font-weight : bold;
 line-height: 1.6;
}

h2 
{ color : rgb(99,200,255);
font-family : sans-serif;
font-weight : bold;
line-height: 1.6;
}
p{ background-color : yellow;
line-height: 1.4 ;
}

